body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

.logo {
    width: 150px;
}

.server-name, h2 {
    margin: 5px 0;
    font-weight: bold;
}

.server-name {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    color: #2bd3e2;
}

main {
    width: 90%;
    max-width: 800px;
    padding: 20px;
}

.changelog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changelog-entry {
    background: rgba(33, 34, 44, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.changelog-entry:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(43, 114, 226, 0.5);
}

.update-image {
    width: 100%;
    border: solid 3px rgb(0, 98, 255);
    border-radius: 10px;
}

.update-title {
    font-size: 22px;
    color: #2bc3e2;
    margin: 10px 0;
}

.update-date {
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
}

.update-summary {
    font-size: 18px;
    margin: 10px 0;
}

.update-details {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.update-details li {
    padding: 5px 0;
    border-bottom: 1px solid #2b74e2;
    position: relative;
    padding-left: 25px; /* Adjust for icon spacing */
}

.update-details li:last-child {
    border-bottom: none;
}

.update-details .added::before,
.update-details .removed::before,
.update-details .updated::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

.update-details .added::before {
    background-image: url('images/plus.png');
}

.update-details .removed::before {
    background-image: url('images/minus.png');
}

.update-details .updated::before {
    background-image: url('images/updated.png');
}
